<!DOCTYPE html>
<html>
    <head>
        <meta charset = "UTF-8">
        <title>Sensor List</title>
    </head>
    <body>
        <a href = "/">Sensor List</a> <a href = "/database">Sensor Database</a>
        <h1>Sensor List:</h1>
        <table border="1">
            <tr>
                <th>№</th>
                <th>Sensor name</th>
            </tr>
            {%for name in names%}
                <tr>
                    <td>{{loop.index}}</td>
                    <td>{{name}}</td>
                </tr>
            {%endfor%}
        </table>
    </body>
</html>